
    body {
        background-color: yellow;
        text-align: center;
        font-family: Arial, sans-serif;
    
    }
        
h1 {                                
    color: green;
    font-size: large;
    
}           